<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>WELCOME TO MY PORTFOLIO</title>
</head>
<body>
    
    <div class="centered-text">
        <!-- <h1 id="animated-heading" data-value="WELCOME TO MY PORTFOLIO">WELCOME TO MY PORTFOLIO</h1> -->
        <h1 id="animated-heading" data-value="Even the complex things are just a bunch of simple things that are strung together">Even the complex things are just a bunch of simple things that are strung together</h1>
        <!-- <p id="quote">"Even the complex things are just a bunch of simple things that are strung together."</p> -->
        <div id="blob"> 
    </div>
        
        <button id="joke-btn" class="btn">LET'S START BY PUTTING A SMILE ON YOUR FACE</button>

    <script src="script.js"></script>
</body>
</html>
